:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.btn {
    /* background-color: #9c88ff; */
    /* background: radial-gradient(circle,
            rgba(238, 174, 202, 1) 0%,
            rgba(148, 187, 233, 1) 100%) !important; */

    /* background-color: #3f5efb; */
    /* background-color: aquamarine; */
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%) !important;
    /* background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%) !important; */
    box-shadow: var(--box-shadow);
    color: #000000;
    border: 0;
    display: block;
    font-size: medium;
    font-weight: bolder !important;
    /* margin: 10px 0 30px; */
    /* margin-top: 30px; */
    padding: 2px;
    /* width: 100%; */
    margin: 63px 10px 33px 10px;
    /* box-shadow: 2px 3px 11px 2px rgba(81, 62, 92, 0.5); */
    border-radius: 25%;
    cursor: pointer;
    text-align: center;


}

.timer-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}